# Creating Redshift Cluster using the AWS python SDK

In [1]:
import pandas as pd
import boto3
import json
import configparser
import psycopg2

## 1. Creation of the user on AWS.

<p>First we need create a new IAM user in our AWS account Give it AdministratorAccess from existing policies. Copy the access key and secret Add to the the dwh.cfg file, the following:</p>

<p>[AWS]

KEY= YOUR_AWS_KEY

SECRET= YOUR_AWS_SECRET</p>

## 2. Load info from a file

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["KEY","DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [KEY, DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param                 Value
0                     KEY  AKIAREYZ6OX6YATSCDRJ
1        DWH_CLUSTER_TYPE            multi-node
2           DWH_NUM_NODES                     4
3           DWH_NODE_TYPE             dc2.large
4  DWH_CLUSTER_IDENTIFIER            dwhCluster
5                  DWH_DB                   dwh
6             DWH_DB_USER               dwhuser
7         DWH_DB_PASSWORD              Passw0rd
8                DWH_PORT                  5439
9       DWH_IAM_ROLE_NAME               dwhRole

## Create clients for EC2, S3, IAM, and Redshift

In [3]:
#import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

## Check out the sample data sources on S3

In [4]:
sampleDbBucket =  s3.Bucket("awssampledbuswest2")

for obj in sampleDbBucket.objects.filter(Prefix="ssbgz"):
    print (obj)

s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/customer0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/dwdate.tbl.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0003_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0004_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0005_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0006_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0007_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0003_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier.tbl_0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0003_part_00.gz')

## IAM ROLE
- Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)

In [5]:
try:
    print('1.1 Creating a new IAM Role')
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description='Allows Redshift clusters to call AWS services on your behalf.',
        AssumeRolePolicyDocument=json.dumps({
              "Version": "2012-10-17",
              "Statement": [
                {
                  "Effect": "Allow",
                  "Principal": {
                    "Service": "redshift.amazonaws.com"
                  },
                  "Action": "sts:AssumeRole"
                }
              ]
            }),
    )
    
except Exception as e:
    print(e)

1.1 Creating a new IAM Role

In [6]:
# Attach Policy
print('1.2 Attaching Policy')
iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

1.2 Attaching Policy

200

In [7]:
# Get and print the IAM role ARN
print('1.3 Get the IAM role ARN')
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

# print(roleArn)

1.3 Get the IAM role ARN

## Redshift Cluster
- Create a RedShift Cluster
- For complete arguments to create_cluster, see docs

In [8]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

## Describe the cluster to see its status
- run this block several times until the cluster status becomes Available

In [11]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cjmqwm1viwss.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-069fcb5dc5c389e0d
7,NumberOfNodes,4

## Take note of the cluster endpoint and role ARN
- DO NOT RUN THIS unless the cluster status becomes "Available

In [12]:
# end point needs chnaged to east!
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
#print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
#print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

## Open an incoming TCP port to access the cluster endpoint

In [12]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-0b3cbd33f0c6ef64b')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

## Connect to the cluster

In [13]:
%load_ext sql

In [14]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cjmqwm1viwss.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## Create the tables
- Sequence matters here. Run the queries first then create the tables before the ETL.

In [34]:
!python sql_queries.py

In [35]:
!python create_tables.py

Dropping tables

## Execute the ETL

In [36]:
!python etl.py

## Test the tables with SQL Queries
- Run a simple SQL Query on each table to validate it works as intended.
- Join several tables together to make a query.

In [37]:
%sql SELECT * FROM songplays LIMIT 3;

 * postgresql://dwhuser:***@dwhcluster.cjmqwm1viwss.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(19, datetime.datetime(2018, 11, 29, 8, 23, 9), 98, 'free', 'SOYJPKO12A6D4FDCEA', 'ARC3KQN1187FB54018', 865, 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (56, datetime.datetime(2018, 11, 27, 4, 25), 8, 'free', 'SOWEUOO12A6D4F6D0C', 'ARQUMH41187B9AF699', 833, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (83, datetime.datetime(2018, 11, 6, 8, 49, 19), 12, 'free', 'SOBJDDA12A6BD53159', 'ARCS4GZ1187FB469EB', 300, 'New York-Newark-Jersey City, NY-NJ-PA', 'Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [38]:
%sql SELECT * FROM users LIMIT 3;

 * postgresql://dwhuser:***@dwhcluster.cjmqwm1viwss.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free')]

In [39]:
%sql SELECT * FROM songs LIMIT 3;

 * postgresql://dwhuser:***@dwhcluster.cjmqwm1viwss.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[('SOAAGBO12AB017CEBB', 'Death Of Emmett Till', 'AR60ODO1187FB4D9AB', 2002, Decimal('233')),
 ('SOAAKLA12A58A7A3CC', 'Snow Day (LP Version)', 'ARGWNT41187FB463F1', 0, Decimal('211')),
 ('SOABHSF12AB0182977', 'Perdicion', 'ARFD5AT1187FB40779', 0, Decimal('281'))]

In [40]:
%sql SELECT * FROM artists LIMIT 3;

 * postgresql://dwhuser:***@dwhcluster.cjmqwm1viwss.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('26'), Decimal('-100'))]

In [41]:
%sql SELECT * FROM time LIMIT 3;

 * postgresql://dwhuser:***@dwhcluster.cjmqwm1viwss.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 1, 46), 21, 1, 44, 11, 2018, 44),
 (datetime.datetime(2018, 11, 1, 21, 5, 52), 21, 1, 44, 11, 2018, 44),
 (datetime.datetime(2018, 11, 1, 21, 8, 16), 21, 1, 44, 11, 2018, 44)]

In [42]:
# More complex query with joins
qry = """
        SELECT 
        u.first_name,
        u.last_name,
        u.gender,
        f.level,
        a.name as artist_name,
        f.user_agent
        FROM songplays AS f
        JOIN users AS u ON f.user_id = u.user_id
        JOIN artists AS a ON f.artist_id = a.artist_id
        WHERE f.level != 'free'
        LIMIT 10;
    """

%sql $qry

 * postgresql://dwhuser:***@dwhcluster.cjmqwm1viwss.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Jayden', 'Graves', 'M', 'paid', '12 Stones', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 ('Kate', 'Harrell', 'F', 'paid', 'Orishas', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 ('Jayden', 'Graves', 'M', 'paid', 'Starting Rock Feat. Diva Avari', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 ('Jacqueline', 'Lynch', 'F', 'paid', 'Binary Star', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 ('Kate', 'Harrell', 'F', 'paid', 'Andres Calamaro', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 ('Kate', 'Harrell', 'F', 'paid', 'Ben Kweller', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 ('Jacqueline', 'Lynch', 'F', 'paid', 'Fergie', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 ('Kate', 'Harrell', 'F', 'paid', 'Jesper Kyd', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 ('Jayden', 'Graves', 'M', 'paid', 'Dash Berlin', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 ('Avery', 'Martinez', 'F', 'paid', 'Muse', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"')]

In [43]:
# test queries
query = """
        SELECT 
        level, 
        COUNT(*) level_count 
        FROM songplays  
        GROUP BY level; 
        """

%sql $query

 * postgresql://dwhuser:***@dwhcluster.cjmqwm1viwss.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('free', 62), ('paid', 271)]

In [44]:
query2 = """SELECT user_id, COUNT(*) activity_cnt
            FROM songplays
            WHERE user_id IS NOT NULL
            GROUP BY user_id
            ORDER BY 2 DESC;"""

%sql $query2

 * postgresql://dwhuser:***@dwhcluster.cjmqwm1viwss.us-west-2.redshift.amazonaws.com:5439/dwh
57 rows affected.

[(49, 42),
 (97, 32),
 (80, 31),
 (44, 21),
 (73, 18),
 (88, 17),
 (15, 15),
 (29, 13),
 (24, 13),
 (36, 13),
 (25, 10),
 (58, 9),
 (95, 8),
 (30, 8),
 (85, 7),
 (42, 6),
 (16, 6),
 (50, 5),
 (82, 3),
 (8, 3),
 (72, 2),
 (12, 2),
 (52, 2),
 (2, 2),
 (101, 2),
 (100, 2),
 (67, 2),
 (83, 2),
 (66, 2),
 (78, 2),
 (86, 2),
 (70, 2),
 (33, 2),
 (92, 2),
 (53, 2),
 (69, 2),
 (62, 1),
 (71, 1),
 (35, 1),
 (32, 1),
 (94, 1),
 (28, 1),
 (10, 1),
 (81, 1),
 (98, 1),
 (23, 1),
 (90, 1),
 (75, 1),
 (26, 1),
 (55, 1),
 (54, 1),
 (91, 1),
 (57, 1),
 (61, 1),
 (40, 1),
 (6, 1),
 (63, 1)]

## STEP 7: Clean up your resources
DO NOT RUN THIS UNLESS YOU ARE SURE
We will be using these resources in the next exercises

In [13]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.cjmqwm1viwss.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2022, 11, 15, 14, 43, 57, 378000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-0517a4f3e784a0c4a',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-069fcb5dc5c389e0d',
  'AvailabilityZone': 'us-west-2c',
  'PreferredMaintenanceWindow': 'sun:13:30-sun:14:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::078974449149:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': '5b42466a-5a0c-43be-b2cf-2cecfd7627d1',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '5b42466a-5a0c-43be-b2cf-2cecfd7627d1',
   'content-type': 'text/xml',
   'content-length': '2631',
   'date': 'Tue, 15 Nov 2022 14:44:38 GMT'},
  'RetryAttempts': 0}}

In [14]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,deleting
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cjmqwm1viwss.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-069fcb5dc5c389e0d
7,NumberOfNodes,4

In [15]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!

{'ResponseMetadata': {'RequestId': '672c501e-d3ba-4628-998d-d6a8ddbe874b',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '672c501e-d3ba-4628-998d-d6a8ddbe874b',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Tue, 15 Nov 2022 14:44:45 GMT'},
  'RetryAttempts': 0}}

# The End!